header {
    background-color: darkgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    position: relative; /* necesario */
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: darkgreen;
    border-radius: 5px;
}


nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1, h2{
    display: flex;
    justify-content: center;
    color:darkolivegreen;

}

.about-container{
    display:flex;
    gap: 20px;
    margin: 20px;
    align-items: flex-start;
}

.me{
    flex:2;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
}

.photo {
    flex: 1;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.photo img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}


/* CERTIFICATE */
.certificate {
    background-color: #1f4d78;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}

/* BOTONES DE FILTRO */
.filters button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* CONTENEDOR DE CURSOS */
.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* DISEÑO INDIVIDUAL DEL CURSO */
.course {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    color: white;
    width: 250px;
    text-align: center;
    font-weight: bold;
    background-color: #a85f32; /* color base */
}

/* DIFERENCIAR POR ASIGNATURA */
.course.cse {
    background-color: #803c1c;
}

.course.wdd {
    background-color: #a85f32;
}

/* CURSOS COMPLETADOS */
.course.completed {
    border: 2px solid #00ff88;
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
}

/* CRÉDITOS TOTALES */
.credit-total {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #1a4b7a;
    margin-top: 1rem;
}

