/* HEADER */
header {
    background-color: darkgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    position: relative;
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    border: none;
}

/* HAMBURGER DEFAULT (desktop) */
.menu-toggle {
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    nav.open {
        display: flex;
    }
}


/* NAV */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* TITLES */
h1, h2 {
    text-align: center;
    color: darkolivegreen;
}

/* ABOUT */
.about-container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.me {
    flex: 2;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
}

.photo {
    flex: 1;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.photo img {
    max-width: 70%;
    border-radius: 10px;
}

/* CERTIFICATE */
.certificate {
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

/* FILTER BUTTONS */
.filters button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* COURSES */
#course-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


.course {
    background-color: rgb(87, 128, 16);
    padding: 1rem;
    border-radius: 10px;
    width: 250px;
}

.course.completed {
    border: 2px solid;
}

/* CREDITS */
.credit-total {
    margin-top: 1rem;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
}

.social-icons img {
    width: 30px;
    height: auto;
    margin: 0 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 👉 todo a la derecha */
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    margin-top: 2rem;
    font-size: 0.9rem;
}


