header {
    background-color: darkgreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    position: relative; /* necesario */
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: darkgreen;
    border-radius: 5px;
}


nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1, h2{
    display: flex;
    justify-content: center;
    color:darkolivegreen;

}

.about-container{
    display:flex;
    gap: 20px;
    margin: 20px;
    align-items: flex-start;
}

.me{
    flex:2;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
}

.photo {
    flex: 1;
    background-color: rgb(244, 240, 240);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.photo img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}


